const char* ssid     = "yourSSID";         // The SSID (name) of the Wi-Fi network you want to connect to
const char* password = "yourPassword";     // The password of the Wi-Fi network

#define INFLUXDB_URL "http://192.168.1.33:8086"

#define INFLUXDB_DB_NAME "esp32"
